@import './globals.scss';
html {
    background: #ddd;
    height: 100%;
    display: flex;
}

body {
    width: 100%;
    margin: auto;
}

.app{
    height: 100vh;
    font-family:  sans-serif;
    text-align: center;
    
    .section {
        width: 100%;
        height: calc(100vh - 200px);
        background-color: $background;
        position: relative;
        top: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
    }

}